<div>
    <p>Hi <%= data.firstName %> <%= data.lastName %></p>
    <p>Your contact form has just got submitted</p>
    <p>Specifications : <strong><%= data.specifications %></strong></p>
    <p><strong>Please find below, calendly link to book a session with me to discuss furter details.</strong></p>
    <a href="www.google.com">Calendly Link</a>
    <p>Thanks!</p>
</div>